[ui]
# out of text, web and voice
mode = voice
lang = en

[web]
host = 0.0.0.0
port = 80

[audio]
record_device_id = 2
playback_device_id = 1
record_framerate = 22050
keywords=john june don't jones don
stopword=stop
recognizer=ibm

[wit]
access_token=...

[ibm]
apikey=...
url=...

[weather]
apikey=...
